<h1>{{message}}</h1>
<p>The best travel quotes can be powerful. Through quotes,
    we have been inspired to take chances, we've been inspired to travel,
    to take action, and to strive to live a better life. </p>
<ul>
    <li> “THE WORLD IS A BOOK AND THOSE WHO DO NOT TRAVEL READ ONLY A PAGE.” ~ SAINT AUGUSTINE</li>
    <li>“NOT ALL THOSE WHO WANDER ARE LOST” ~ J.R.R. TOLKIEN</li>
    <li> “LIFE IS EITHER A DARING ADVENTURE OR NOTHING AT ALL” ~ HELEN KELLER</li>
    <li> “TAKE ONLY MEMORIES, LEAVE ONLY FOOTPRINTS” ~ CHIEF SEATTLE</li>
    <li> “TRAVEL IS  FATAL TO PREJUDICE, BIGOTRY, AND NARROW MINDEDNESS, AND MANY OF OUR PEOPLE NEED IT SORELY ON THESE ACCOUNTS.” ~ MARK TWAIN</li>
    <li> ” THE REAL VOYAGE OF DISCOVERY CONSISTS NOT IN SEEKING NEW LANDSCAPES, BUT IN HAVING NEW EYES.” ~ MARCEL PROUST</li>
    <li> “TRAVEL MAKES ONE MODEST, YOU SEE WHAT A TINY PLACE YOU OCCUPY IN THE WORLD.” ~ GUSTAVE FLAUBERT</li>
    <li> NEVER GO ON TRIPS WITH ANYONE YOU DO NOT LOVE.” ~ HEMMINGWAY</li>
    <li> “LIKE ALL GREAT TRAVELLERS, I HAVE SEEN MORE THAN I REMEMBER AND REMEMBER MORE THAN I HAVE SEEN.” ~ BENJAMIN DISRAELI</li>
</ul>