<!DOCTYPE html>
<html ng-app="moduleDemo">
<head>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Script.js"></script>
    <script src="Scripts/Filters.js"></script>
    <script src="Scripts/ScriptPageDemo2.js"></script>
    <link href="Style.css" rel="stylesheet" />
</head>
<body ng-controller="demoCntrl">
    <button id="top" ng-click="scrollTo('test1')">Click to go to content</button>
    <div id="test">
        The word ‘news’ is formed with the initial letter of the following words,
        namely north, east, west and south. The proper which contains all kinds of news is called the newspaper.
        Venice in Europe was the first place to bring out the newspaper. During the reign of the Mughal period,
        a kind of manuscript was used in our country. In this sub-continent, the ‘bengla gezette’ published in 1780 as the first newspaper.
        In Bangladesh ‘samacher tarpans’ was the first newspaper. There are various kinds of newspaper.
        These are dailies, weeklies, bi-weeklies monthlies etc. newspaper plays on an important role in the present time.
        We get all kinds of news by reading this. It has educative values also. The newspaper is very essential and beneficial to us.
        But when it published incorrect news then it does some harm to us. Newspaper brings the world nearer to us day by day.
        It is the mirror of the present world. So we should read the newspaper.a
        2
        PRODUCING LARGE DOCUMENTS:
        Using some of the features of Microsoft WORD to create and manage larger
        documents
        Table of Contents
        1. Introduction ........................................................................................................................... 3
        1.1. The challenge of creating and managing a long document............................................ 3
        1.2. Consistency in formatting .............................................................................................. 3
        1.3. Topics............................................................................................................................. 4
        2. Different views in WORD ...................................................................................................... 4
        2.1. Draft View...................................................................................................................... 4
        2.2. Print Layout (or Reading Layout).................................................................................. 5
        2.3. Outline view................................................................................................................... 5
        2.4. Print Preview.................................................................................................................. 5
        2.5. Navigation Pane ............................................................................................................. 5
        3. Using outlines in word........................................................................................................... 5
        3.1. Planning and organising with Outline view ................................................................... 5
        3.2. Organising the document for consistent formatting styles and document management 6
        4. Styles...................................................................................................................................... 6
        4.1. Formatting in WORD..................................................................................................... 6
        4.2. What is a style? .............................................................................................................. 7
        4.3. Creating and using styles in outlines.............................................................................. 7
        4.4. Creating a paragraph style.............................................................................................. 7
        4.5. Reformatting a Heading Style ........................................................................................ 8
        4.6. Some rules for styles...................................................................................................... 8
        4.7. Creating a character style ............................................................................................... 9
        4.8. Adding and changing styles ........................................................................................... 9
        4.9. Changing styles............................................................................................................ 10
        5. Numbering headers and paragraphs................................................................................... 10
        6. Creating a Table of Contents............................................................................................... 10
        6.1. Creating the Table ........................................................................................................ 10
        6.2. TOC styles.................................................................................................................... 11
        7. Some additional useful features to look into........................................................................ 11
        7.1. Creating page breaks:................................................................................................... 11
        7.2. Creating sections:......................................................................................................... 11
        7.3. Creating footnotes and endnotes: ................................................................................. 12
        7.4. Inserting figures and tables: ......................................................................................... 12
        7.5. Creating templates:....................................................................................................... 14
        8. Working with other people .................................................................................................. 14
        8.1. Tracking changes ......................................................................................................... 15
        8.2. Commenting................................................................................................................. 15
        9. Learning More about WORD .............................................................................................. 15
        10. Producing Large Documents............................................................................................. 16
        3
        1. Introduction
        This document contains a number of functions of Microsoft WORD that can be used
        to help in the creation of large documents such as dissertations and reports. It is not
        possible to set these out in the form of a step-by-step procedure, because there are
        several versions of WORD that have been designed slightly differently for different
        computer operating systems. Despite these differences, the functions described here
        are common to all of these variants, but you will have to find out for yourselves
        precisely how they work in your particular version.
        Because of these variations in WORD, this document will simply provide a list of
        the functions that you ought to consider and provide a simple explanation of each so
        that you know what you are looking for.
        Several of you will know several of these things already, so there will be no need to
        read about them afresh.
        1.1. The challenge of creating and managing a long document.
        One of the main concerns we have in producing long documents is the complexity
        and the extent of the argument. So we must:-
        o Organise ideas to best effect.
        o Ensure the flow of argument.
        We must also help the reader to follow the argument by:-
        o Providing effective signposting in the document by consistent use of appearance
        and layout through appropriate formatting.
        But when we use formatting, we also often need to comply with standards that are
        set by the person to whom we are presenting our document. In essence, this means:–
        o Complying with a style requirement means choosing the formatting style to
        follow, for example, adopting:
         The University‟s formatting requirements for a dissertation;
         A consultant‟s chosen style in presenting a document to clients in a
        consistent and recognisable way;
         A clients‟ style requirements so that members of the client organisation can
        navigate their way around a new document in a manner with which they are
        familiar.
        Finally, we must also ensure that the document is accurate and is understood to say
        what the author intended, by:–
        o Editing, including radical editing.
        1.2. Consistency in formatting
        Formatting refers to the way we choose to present text. Typically, we can modify
        font type, text size and style. We can also modify the appearance of paragraphs in
        terms of line spacing and justification. These style variations are particularly
        obvious in the formatting of headings. For each type of block of text – paragraphs,
        headings, captions – it is important to use the same formatting style whenever a
        particular type of text is encountered. For example, whenever we see a main
        heading, it should look like every other main heading that we use in the document,
        4
        so that the reader will recognise them both as equally important in the argument we
        are presenting in our document.
        1.3. Topics
        In order to use WORD effectively in producing a document we shall identify the
        following features or functions. These are indicated in bold italics in the paragraphs
        that follow. The topics are as follows:
        o Different views in WORD
        o Using outlines in WORD
        o Styles
        o Numbering headers and paragraphs
        o Creating sections
        o Creating footnotes and endnotes
        o Inserting tables and figures
        o Creating a Table of Contents
        o Creating templates
        o Checking spelling
        2. Different views in WORD
        When we type documents into WORD they can be presented to us in different ways:
        o Draft View
        o Print Layout (or Reading Layout)
        o Outline view
        o Print Preview
        o Navigation Pane
        o Zoom
        The first 3 of these can be viewed by making a selection in the VIEW menu. By
        choosing these different options, you will see that same document presented in
        different ways that provide different advantages.
        The 4th option, Print Preview is located in the FILE menu.
        The 5th option, Navigation Pane (probably ‘Thumbnails’ is the closest in WORD
        2007).
        The 6th feature Zoom, is just the facility to zoom the screen image to different
        enlargements – a very useful feature.
        ** You can look at the present document in each of these views to see how they
        vary.
        So, why are these options worth looking at?
        2.1. Draft View
        This is a general view for looking at a document, with which we are all probably
        familiar. It presents the whole document in a continuous ‘roll’ with the text looking
        5
        like it will appear when printed. What we do not see in Draft View is how the text
        breaks with different pages and how diagrams and tables fit in.
        2.2. Print Layout (or Reading Layout)
        This provides us with a view of the document where we can see page breaks and
        other features, as well as the basic character and paragraph formatting. This is
        helpful when we want to see where text ends on a page or where paragraphs break
        over two pages.
        2.3. Outline view
        This presents the same document in outline form. In this view it is possible to
        collapse and expand different parts of the document. This makes it easier to work on
        these different parts. It is also easy to move blocks of text around the document
        should you decide that the order of things needs to be altered.
        When you switch to Outline View a new menu bar appears that enables you
        manipulate the outline in different ways including, promoting and demoting headers,
        and expanding and contracting different parts of the document.
        The document will only work as an outline provided the author has developed the
        document as an outline. This present document has been prepared as an outline, so,
        by switching to Outline View you will be able to see its various features.
        The main benefits of Outline View are that it is very easy to move parts of the
        document around if you want to change the order of the argument. It is also very
        easy to make sure that formatting is consistent. And it is very easy to create tables of
        contents.
        If you have a large document that has not been created as an outline, it is still
        possible to reconfigure it as an outline and then reap the benefits of outlines.
        2.4. Print Preview
        From the File menu it is possible to see the document exactly as it will print out.
        This looks very similar to the layout in Print Layout. While it does not show much
        difference from Print Layout, Print Preview is generally worth using just before
        you undertake a print run as it will show you in a clear way how each page is set out
        and where the page breaks will come. Doing this as a final check can save wasting
        paper.
        2.5. Navigation Pane
        The Navigation Pane is something different as it provides an extra window to the
        left hand side of the main document window. This shows the whole document in
        terms of its various sections. This helps you to move around the document easily.
        3. Using outlines in word
        Getting into the habit of using outlines in WORD can be a real time saver.
        Producing an outline has lots of benefits to aid productivity:–
        3.1. Planning and organising with Outline view
        Some of you will be familiar with terms like ‘Ideas processors’ and ‘Mind Maps’.
        These are just ways of taking an idea and breaking it into its constituent parts and
        then reorganising these parts until they provide the most appropriate representation
        6
        of what you are aiming to convey. The basic idea of the Outline in WORD is very
        much like this. It is a good way to start any document. The Outline View was used
        to start the present document. It was used to set out the main themes, then consider
        which issues needed to be dealt with under each theme. Sometimes it was necessary
        to split a theme into two – sometimes it was helpful to combine them. Then it was
        useful in reorganising the order in which ideas were presented.
        The present document was a typically complex arrangement. Naturally, some issues
        were raised before other issues. But then it turned out that it would be better to
        mention something earlier than it was first introduced. This was because an earlier
        item really depended on the explanation of an idea that had been introduced later on.
        You may disagree that the present document, as it stands, has presented these ideas
        in the best possible order – there are certainly other ways of ordering this material.
        There may be areas where additional headers and sub-headers could be introduced.
        You can always turn this document into Outline View and experiment for yourself.
        3.2. Organising the document for consistent formatting styles and document
        management
        Earlier, it was mentioned how important it is to maintain a consistent formatting
        style within a document. I have tried to do this in this document.
        The top level of the document is the title of the document. The second level of the
        document represents a new theme or issue that I would wish to discuss. You can see
        this in the outline where each new theme is the second level down. You can also see
        this in Draft View or Page Layout View because these headers are all formatted
        with the same font and the same level of numbering. Then the next level down (and
        the next level of sub-header in the document, items ate all numbered with 2 digits
        (e.g. this section is 3.2). If I were to change something in the Outline from level 3 to
        level 2, its formatting would also change in Draft View or Page Layout View. This
        is really handy for maintaining consistency of formatting.
        4. Styles
        Some of you will already know about formatting ‘styles’; others of you will not
        have heard of them. In fact, every character, word, paragraph and document that you
        see in WORD has a style (usually called ‘normal’), but you don’t notice it because it
        is a default style.
        4.1. Formatting in WORD
        Most people realise that they can change what a piece of text looks like using the
        Format menu. This gives us access to choices where we can change the look of
        individual fonts and paragraphs. Thus, we can change the Font in terms of its:
        o Font: e.g. Times Roman, Ariel, Helvetica
        o Style: e.g. bold, italic
        o Size: e.g. 8pt, 10pt, 12pt, 16pt
        o And some other features such as ’small caps’ and other things that we don not
        use very much.
        And we can change the appearance of paragraphs in different ways such as:
        o Left hand margin
        o Justified
        7
        o Hanging indent
        o Double spacing
        o Space before and after.
        In large documents, especially, if we simply format things as we go along, we soon
        discover that we have adopted different principles of presentation in different parts
        of the document. This means there will need to be a lot of very careful editing before
        the final document can be released if it is to appear professional and be readable.
        This is where styles come in useful.
        4.2. What is a style?
        If you were to consider a single header and then decide that it should be formatted in
        14pt Ariel bold font, with a space of 12pt before it and 4pt after it. Then you type a
        paragraph that you format in 12pt Times New Roman at 1.5 spaces between lines
        and justified, so that both sides of the paragraph were straight.
        Then you come to the next header and want to format it as before. So, you need to
        remember how you formatted the previous header and then you have to go through
        the routine of carrying out this formatting. Then you have to get back to typing and
        formatting the next paragraph. At the end of all this, you might decide that Ariel
        does not look too good in headers and you don’t want 1.5 spaces after all. So you
        have to go back to the start and deal with every block of text again.
        This is where styles are useful. Instead of formatting separate words and paragraphs,
        you format a general style for different sorts of words and paragraphs. Then you
        simply apply the style when you come across a block of text where you think that
        style is appropriate. This means that everything that is given a particular style has
        the same format as everything else with that style.
        If, later on, you decide that you want things to look different, you can edit the style
        and everything that has that style will change in a consistent way. So you gain
        consistency and save a great amount of time.
        4.3. Creating and using styles in outlines
        When you open a WORD document, you start with one style called ‘normal’. This is
        the default style within WORD. You can change the normal style to any font and
        size of your choosing.
        When you create an outline, you automatically create additional styles called
        Heading 1, Heading 2, Heading 3 and so on. You can see these in the styles pulldown menu, normally situated on the left hand side of the toolbar (you may have to
        locate this in your version of WORD).
        You can treat these Heading styles like any other style and reformat them to your
        preference. This is all I have done in this document.
        So I can modify my outline and when I move things to different levels the
        formatting of different headers changes so that everything remains consistent with
        other headings set at the same level (you can try this with the present document).
        4.4. Creating a paragraph style
        (You can do this in any of the views)
        o Pull down FORMAT menu
        8
        o Select PARAGRAPH… –
        o Format the Paragraph as you choose – don’t forget, you can format its shape,
        line spacing and how it behaves on the page and in conjunction with the
        paragraph that follows it.
        4.5. Reformatting a Heading Style
        (You can do this in any of the views)
        o Pull down FORMAT menu
        o Select STYLE –
        o Highlight the Heading style you wish to change
        o Click Modify
        o You now have access to formatting its font characteristics, its paragraph
        characteristics, and a few other things, such as its numbering.
        This document will not go into the details of how these things are done. You
        probably know this already or can easily find this out for yourselves.
        4.6. Some rules for styles
        Here are some additional rules to follow when using outlines and styles to create
        large documents
        o Generally, format heading styles using „keep with next‟: One important
        paragraph styling feature that people often overlook is „keep with next‟. You
        find this under line and page breaks. This is particularly useful in order to
        make sure that any header is kept on the same page as the paragraph that
        follows it. Nothing looks quite so stupid as a document with a heading at the
        bottom of a page and its following paragraph at the top of the next page.
        o ‘Keep lines together‟: This is another useful paragraph command when you
        particularly want all of a paragraph or block of text to be viewed on the same
        page. It means what it says and will cause the paragraph to start on the next
        page. It is particularly useful when you produce lists or tables, so that all lines
        of the list or table stays on the same page (I haven’t done this in this document,
        so some lists might be split between two pages).
        o Never insert extra blank lines. Lots of people wanting to put extra space
        between headers and the paragraphs that follow do so by putting in an extra
        blank line. This might look OK in Draft View, but if the text is at the end of a
        page after this extra space and before the paragraph that follows, the result will
        be that you will have a heading at the bottom of a page, even though you have
        formatted it to ‘keep with next‟. This is because the next paragraph is the blank
        line.
        o Equally, never create margins or paragraph indents by just adding spaces,
        because you might not be consistent in how you add them in different places
        and you cannot easily edit this aspect. It is far better to edit the left- and righthand indents to the paragraph or its hanging indent. Then all paragraphs of this
        kind will behave in the same way and all can be edited in one go should you
        choose to change this style.
        o Don’t over-complicate things – try to keep it simple because you will forget
        which style applies to which piece of text and the whole thing can start to look
        9
        messy. Section 4.8 contains a minimal list of styles that are appropriate for
        most applications, especially dissertations.
        4.7. Creating a character style
        Heading styles are paragraph styles. This means that you can place the cursor in any
        part of the paragraph, select a paragraph style and the whole paragraph will change.
        It is also possible to create character styles:
        o Pull down FORMAT menu
        o Select STYLE –
        o Select NEW
        o Then give the style a name
        o Then select ‘character’ from the style pull-down menu.
        o Then format the font as you wish.
        You can now highlight any block of text to which you wish to apply this style. It
        will change only the words that have been highlighted.
        4.8. Adding and changing styles
        Even though you are working within the Outline View with its automatically
        generated Heading styles, you can also add any additional style that you wish and
        modify all styles. This is entirely up to you as the author, but here are some useful
        styles to produce (they are italicised):
        o Quote: If you add a quote, you might wish to emphasise it, for example by
        indenting the paragraph and italicising it. Here is a quote that looks like this:
        “I was able to complete my dissertation in half the time
        taken by other students, thanks to the wonders of Microsoft
        WORD.” (M. Mouse, 1934)
        o Legends/captions: It is useful to add legends or captions so that everything
        looks consistent.
         Table legend: in some document styles the table legend precedes the
        table to which it is referring. So it is important that this style contains
        the feature ‘keep with next’ so that it sticks with its table.
         Figure legend: Figure legends usually follow the figure they are
        referring to, so ‘keep with next’ is inappropriate.
        o Picture style: If you have a picture in your document (a graph for example), it
        is worth giving it a style. You might want to centre it as part of the style, even
        though it obviously won’t change any text within in. Also, because its legend
        or caption will follow the picture, it is worth giving the picture style the
        property ‘keep with next’.
        10
        o References: This can be a style for your reference list at the end. One style for
        this is to use single spacing with a hanging intent as follows, in order to make
        the references distinctive, for example1
        :
        Goldstein I. L., and Ford K. (2002). Training in Organizations: Needs assessment,
        Development and Evaluation (4th Edn.). Belmont: Wadsworth.
        Wright, P. (1998). Printed instructions: can research make a difference? In H. Zwaga, T.
        Boersema, and H. Hoonout (Eds.), Visual information for everyday use; design
        and research perspectives (pp. 45-66). London: Taylor and Francis.
        4.9. Changing styles
        You can change styles of a piece of text any time you choose and apply a different
        style. If it does not change as you expected, you may need to apply the command
        ‘clear formatting’ from the pull-down menu. Then reapply the style you want.
        5. Numbering headers and paragraphs
        When you format a paragraph style, you can assign a number style to the paragraph
        style. If this is part of the style of Outline Heading and you choose to change the
        position of a particular heading in your document, then the number will change
        accordingly.
        6. Creating a Table of Contents
        Most large documents require a table of contents to help to find your way around. If
        you have used the outline, creating a table of contents is particularly easy, because it
        picks up all of the heading s in your outline.2
        6.1. Creating the Table
        o Place the cursor at the point where you wish the table of contents to appear.
        o Go to INSERT menu
        o Select INDEX and TABLES
        o Select Table of Contents
        o Select the style of ToC that you want
        o Further options include ticking the outline levels that you want to include

        1
        This paragraph is the only one in the whole document where I have added an
        individual feature to the paragraph format. I did this because I wanted the list item
        about references to be on the same page as the two examples of the references I have
        included. Otherwise, this paragraph is simply a ‘list’ style, like all other ‘list’ items.
        2 When I started this document, it was only gong to be short and wouldn’t need a
        Table of Contents. I have kept it as short as I could, but it has grown. As a
        consequence, I produced a Table of Contents to help you to find you way around.
        You will notice I have also created 2 footnotes which in turn has automatically
        created two additional editable styles: footnote text (this) and footnote reference (the
        little superscript 1
        in the main text).
        11
        6.2. TOC styles
        Once you have created your Table of Contents, you may notice that additional styles
        are created to refer to each of the levels that have been included in the ToC, and you
        can edit these like any other style.
        7. Some additional useful features to look into
        I have tried to concentrate on some of the main things that will make your life
        easier. There are a few other things that can be useful too, and you might want to
        look into these. I have provided a brief indication of what you need to look into in
        order to understand these features.
        7.1. Creating page breaks:
        Occasionally it is useful to start a new part of your document on a fresh page.
        o There is a command in the INSERT Menu: BREAK – Page Break. This creates
        the new page you require.
        It is rarely necessary to insert pages in this way because you can use the ‘keep-withnext’ command that you might use to format a paragraph.
        o If you want a page break before each Heading 2, then this can be included in
        the style for Heading 2.
        Doing it this way, instead of inserting a page break when the mood takes you, means
        that your document formatting will be more consistent.
        7.2. Creating sections:
        Section breaks (from the INSERT Menu – BREAK – Section Break) enable you to
        split the document so that each Section can be treated in different ways. If you look
        at this menu, you will see that you can force your new section to occur in different
        places (next page; continuous; odd page; even page). The only one I am going to
        mention is next page, because it is the only one I routinely use.
        When a document is printed, it is impossible to see whether the writer has used page
        breaks, section breaks or just relied on the normal functions of the word processor to
        insert these breaks. But when you look at the document on the screen, it is possible
        to see where these breaks are used. So, in this document I have used no page breaks,
        but I have used one section break. If you switch to VIEW – Draft and then scroll
        back to the start, you will see that I have inserted a section break immediately after
        the Contents list. I did this for two reasons.
        o I wanted to make sure that the Introduction of the main text started on a fresh
        page (of course, I could have done this with just a page break).
        o But I also wanted the page numbers for the main text to start at 1 (otherwise
        the contents page would be page 1). This is often seen in books and reports,
        where early pages, such as title, content, acknowledgements are numbered
        using a different format (such as roman numerals) to the main part of the book
        which is numbered in more familiar Arabic numerals. Often appendices are
        also numbered from 1. So, Section Breaks are useful in splitting parts of a book
        to help with the numbering.
        12
        The other common reason for using Section Breaks is to control the orientation of
        the page, as portrait or landscape:
        You might want to do this if you have a large table or diagram that you need to
        insert into the document. The order in which you do things can vary because
        sometimes you will create a table as you go and sometimes you will want to insert
        the table after you have completed your main text.
        But, basically, you need two section breaks.
        o The first is used to create the landscape section.
        o Then the table or diagram is inserted (or can be inserted afterwards).
        o Then you need the second section break to make sure the document returns to
        portrait.
        o And then you have to format the page numbers so that they continue from the
        previous section – I can’t help you much here because different versions of
        WORD seem to do this differently, so you will need to explore.
        7.3. Creating footnotes and endnotes:
        Sometimes, you will want to insert an explanation of something where you do not
        want to interfere with the flow of the text. The obvious way of doing this is to
        INSERT – footnote. This places a small superscript index at the insert point. This
        can be left to provide automatic numbering or there are some things you can do to
        vary this. You also have the option of specifying whether you want the footnotes to
        appear at the bottom of the page where the insertion was made (a footnote) or at the
        end of a section or the whole document (an endnote). Then you are required to add
        content for the footnote. It is all quite straightforward.
        7.4. Inserting figures and tables:
        There are a lot of variations here, so I will just outline some key issues.
        7.4.1. Inserting figures into WORD
        The easiest way to do this is:
        o Prepare the figure in a suitable package and save it (or export it) as a .jpg file
        (this makes it compact). Make sure it is saved in a place where you can
        remember the location and named it so that you remember what it is.
        o Go into your WORD document and place the insert point at the place where
        you want the picture inserted.
        13
        o Go to INSERT menu – Picture – From file. Then locate the file and click
        ‘insert’.
        o Then adjust the size of you picture to fit the document (or to make it a bit
        smaller so that it doesn’t force a new page in the document).
        o Then make sure that it is given an appropriate style so that it keeps with the
        caption that describes it.
        7.4.2. Adjusting the size of your picture
        The simplest way to do this is:
        o Click on the picture to show the picture handles (the little blocks at each corner
        and in the middle of each side).
        o Move the cursor to the bottom right hand ‘handle’ and hold down.
        o Then drag to decrease or increase the size of the picture. The picture will then
        re-size in the correct ratio. (If you wish, you can stretch or reduce the height or
        width of a picture by using the ‘handles in the centre of the sides – though it is
        not likely you would want to do this).
        7.4.3. Creating tables in WORD
        WORD has a facility to create tables, usually through the TABLE menu. To set the
        table initially requires you to specify the number of rows and columns. This places
        the table into the document at the insertion point. Once this is done, a table is
        created where you can add row and column headings plus content.
        When you create a table another style (Table Grid) is automatically created. You can
        use this or you can create your own styles for headings and cell entries, using the
        procedures described above. In the Table menu, you will also find commands for
        inserting and deleting rows and columns and for merging cells. It is also easy to
        adjust column widths and left and right hand margins.
        7.4.4. Creating tables in EXCEL
        Microsoft WORD and Microsoft EXCEL are compatible. Tables created in EXCEL
        can be cut and pasted into WORD. Then they can be treated exactly as if they were
        created in WORD in the first place. There can be a problem though if the EXCEL
        table is wider than the WORD document. Here you can either create a new Section
        or you can copy the table from EXCEL in a different way – described next in 7.4.5.
        7.4.5. Creating tables as pictures in EXCEL
        An extremely useful way of transferring a table from EXCEL to WORD is to copy it
        as a picture from EXCEL. This ensures that the table appears in WORD exactly as
        you formatted it in EXCEL (generally, I find it easier to format tables in EXCEL
        than in WORD). I cannot describe exactly how this is done because the method
        varies between different versions of EXCEL and WORD – so it is something for
        you to find out.
        14
        When you insert a table into WORD in this way, you are inserting it as if it were
        simply a picture. It can therefore be resized and given a style like any other picture.
        It also means it cannot now be edited as a table in WORD; you would have to go
        back and make your changes in EXCEL and re-copy. So here is the same table
        (picture) presented in different sizes.
        7.5. Creating templates:
        While each of these things I am showing you help you to be consistent and save a
        great amount of time, you can save even more time by creating templates. That is, if
        you are to reproduce the same document on different occasions you can use the
        same formatting for later documents that you used for an earlier document. For
        example:
        o A student assignment o A final project report
        o A visit report o A paper for submission to Journal A
        o A progress report o A paper for submission to Journal B
        o A dissertation.3
        If you are to repeat any of these types of document on several occasions you will
        save a great amount of time by using the formatting and styles of the previous
        version. In this way, you only need to add content for the new version and make
        sure you apply your already created styles to the new document. This can be called a
        template that can be used again and again.
        You may find benefit in doing this for student assignments. Also, when working
        professionally, you will want to present a professional and consistent image. So,
        standard templates will help for the various types of report you will use. When
        working in a company you will, in all likelihood, be provided with such templates
        that you are required to use for your reports, so that all people working for the
        company present reports to the same standard. These are often called ‘House Style’.
        Generally, there are two main ways of creating templates:
        o Informally: by saving empty versions of each type of document (preferably
        ‘read-only’) so that they can, as required, be loaded, populated and then saved
        with an appropriate file-name
        o Formally: by using template features that can be found in WORD. I will not
        say anything more about this because I rarely use these features.
        Generally, I just do this using the ‘informal’ method.
        8. Working with other people
        A final aspect worth noting concerning producing large documents is that one has to
        work with other people or communicate with them in some way.

        3
        I produced this list in 2 columns using a 2 X 4 table with no borders.
        15
        o In some cases the other person is a collaborator and you will be sharing ideas
        and commenting on each other’s ideas as the document develops. This is
        common in consultancy.
        o You are working with your client. In these cases it is often useful to ask clients
        to review work, or people employed by the client with whom you have
        developed a working relationship, to confirm that you have not misrepresented
        something.
        o There are situations where you work with a colleague who acts as an auditor to
        ensure that you have conformed to the requirements of the document and dealt
        properly with the client’s concerns.
        o Where you are producing a dissertation, you are in effect working with your
        supervisor. The supervisor will see drafts of your work and wish to make
        comments for you to consider.
        WORD now includes some very useful features to enable this collaborative
        working, in particular:
        o Tracking changes
        o Commenting
        It is worth becoming familiar with both of these features if you are not already
        familiar with them.
        8.1. Tracking changes
        This allows a reader of your work to read and comment on what you have written. It
        allows modifications to be made without altering the original text. This allows the
        original author to read these comments and accept or reject the suggestion. In this
        way, responsibility for editing rests with the final author, who may accept
        suggestions as they are made, may reject them completely and stick with the original
        version, or may reject them and reword the offending section in a way that is more
        acceptable to the original author.
        8.2. Commenting
        The other particularly useful feature is the ‘comment’. This appears on the WORD
        page like a ‘post-it’ note containing an observation or suggestion by the reader for
        the original author to take into account.
        Both Track Changes and Comments can be removed from the document if required,
        leaving the original document as it was.
        9. Learning More about WORD
        This document has set out a number of the most useful features contained in
        Microsoft WORD to help you handle the sorts of larger documents that you are
        likely to encounter in your studies and beyond. Many of you will probably know
        some or all of these things, so make use of any of it that appeals to you.
        There are many more things you might learn about using WORD. This document
        only scratches the surface. In it I have tried to pick out the main things that I have
        found most useful over the years and the things I tend to use most of the time when
        producing documents. I would also point out that I have generally worked out how
        to do these things for myself, using the WORD help facility, but not bothering with
        any complicated books about the subject.
        16
        When you use WORD, you soon discover it is a very powerful and well-designed
        application program. Most of it is internally consistent so different parts of the
        program work in the same ways as other parts, and the words in the different menus
        are carefully chosen to indicate what they do. This makes learning by exploration
        very straightforward, especially because you can always UNDO TYPING (from the
        FILE menu) to remove any mistakes you might have just made. Also, I have tried to
        produce this present document in a way that is completely consistent with what I
        have written. So you can use this to explore these features, including what the
        outline looks like and how it can be manipulated. If you mess it up, you can always
        download another version.
        10. Producing Large Documents
        Finally though, and without wishing to be dogmatic, here is a procedure you could
        use to guide you through the production process:
        o Get your ideas down using the Outline View
        o Use the Outline View to reorganise your framework of ideas until you have a
        coherent story
        o Use the Outline View to reorganise your framework to conform to the structure
        of the document you are aiming to produce, perhaps, for a dissertation
        (something like that included in the ANNEX).
        o Use the Draft View and the Outline View to develop the content of your
        dissertation.
        o Use the Outline View to modify the sequencing of your argument.
        o Use the Page Layout View to insert your figures and tables and
        legends/captions.
        o Use the Page Layout View or the Draft View to format your styles (actually,
        you can do this at any time).
        o Use the spellchecker to eliminate any spelling errors.
        o Create and format your reference list.
        o Obtain comments on your draft from your supervisor.
        o Consider and act, through track changes, any corrections or comments offered
        by your supervisor.
        o Carry out a final proof-read, including a final spell check. Make any
        corrections to spelling, grammar, meaning or format that have been identified.
        o Have a good look in Page Layout View or Print Preview.
        o Put the dissertation in a cupboard for a couple of days to forget about it and go
        out and have some fun (an important step this).
        o When you return home re-read the dissertation and correct the errors that you
        will inevitably find.
        o Have another good look in Page Layout View or Print Preview.
        o When all is fine, as it will be, submit your dissertation.
        17
        18
        ANNEX:
        What the outline for a dissertation might look like.
        o Abstract
        o Introduction
         The aims of the dissertation
         The practical problem
         The relevant literature
         The research hypotheses
         The organisation of the dissertation
        o Method
         Participants
         Methods
         Procedures and protocols
         Methods of data collection
        o Results
         The nature of the raw data
         Analysis of quantitative data
         Coding methods used for analysis of data
         Analysis of qualitative data
         Summary statistics
         Initial interpretation of results
        o Discussion
         Principle findings from the research
         The findings in relation to the hypotheses
         Qualification of findings with respect to the design of the study
         Weaknesses and concerns
         Implications for theory and the wider body of research
         Implications for application and practice
         Suggestions for further research
        o Conclusions
        o References









































        z
    </div>
    <div id="test1">

        -----------------------------------------------------------------------------------
        -----------------------------------------------------------------------------------
        The word ‘NEWS’ is formed with the initial letters of the following words. North, east, west, and south.
        The paper on which news is published or printed is called a newspaper.
        Venice in Europe brought out the first newspaper. During the Mughal rule,
        a kind of manuscript newspaper was in use in the sub-continent. ‘the Indian Gazatee ‘ published in 1744 was the first printed newspaper.
        The first Bengali newspaper was, ‘the Samachar Darpan’ published by the missionaries of Serampore
        . Newspapers are of various kinds-daily, weekly, bi-weekly, fortnightly, monthly, yearly etc.
        to a civilized nation, a newspaper is an essential thing. In today’s world newspaper is as important as food and drink.
        We need morning news as we need breakfast. A newspaper contains all the news and views of the world.
        It is a source of information of almost everything happening
    </div>
    <div></div>
    <button id="buttom" ng-click="scrollTo('test')">Click to go to top</button>
    <br /><br />
          <div>
              This is example of rootScope: {{RedColor}}
          </div>
    
</body>
</html>